<div class="section no-pad-bot" id="index-banner">
  <h1 class="header center orange-text">Skeduler</h1>
  <div class="row center">
    <h5 class="header col s12 light">The best way to schedule your appointments</h5>
  </div>
  <div class="row center">
    <%= link_to 'Get Started', new_user_session_path, class: 'btn-large waves-effect waves-light orange' %>
  </div>
</div>


<div class="section">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">A Good Feature</h5>
        <p class="light">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt dicta dolores enim eum, fugit
          ipsa iste itaque minus molestiae, natus, optio perferendis provident quod similique veniam veritatis.
          Perspiciatis, quidem.
        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
        <h5 class="center">Another Good Feature</h5>
        <p class="light">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cupiditate et iusto quo ullam. Atque eum
          explicabo, inventore iusto, laborum modi nam omnis quisquam quo quos repellat repellendus tenetur vero.
        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
        <h5 class="center">The Most Awesome Feature</h5>
        <p class="light">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus deleniti dolorum, earum facilis
          fugiat laborum magni molestiae numquam obcaecati possimus, quis quo ratione rerum sapiente suscipit tenetur
          vel voluptatem!
        </p>
      </div>
    </div>
  </div>
</div>
